.header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/BannerBG.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 24px;
}

.logo {
  font-size: 24px;
}

.header .nav__list {
  display: flex;
}

.header .nav__item {
  margin-right: 24px;
}

.header__heading {
  display: inline-block;
  max-width: 615px;
  padding-top: 150px;
  font-size: 40px;
  color: aqua;
}

.header__box--bottom {
  display: flex;
  justify-content: space-between;
}