.inosuke {
  height: 540px;
}

.inosuke .wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 100px;
}

.inosuke__text {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(37, 37, 37, 0.7);
  border-radius: 10px;
}

.inosuke__heading {
  color: aqua;
  padding: 10px 10px 24px 0px;
}

.inosuke__subheading {
  color: aqua;
  padding: 10px 10px 48px 0px;
}

.inosuke__btn {
  display: none;
}