@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700&display=swap");
.header {
  width: 100%;
  height: 100vh;
  padding-top: 24px;
}

.logo {
  font-size: 24px;
}

.header .nav__list {
  display: none;
}

.header .nav__item {
  margin-right: 24px;
}

.header__heading {
  display: inline-block;
  max-width: 615px;
  padding-top: 150px;
  font-size: 40px;
  color: aqua;
}

.header__box--bottom {
  display: flex;
  justify-content: space-between;
}

.header__btn {
  display: none;
}

.tanjiro {
  height: 540px;
}

.tanjiro .wrapper {
  padding-top: 100px;
}

.tanjiro__text {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(37, 37, 37, 0.7);
  border-radius: 10px;
}

.tanjiro__heading {
  color: aqua;
  padding: 10px 10px 24px 0px;
}

.tanjiro__subheading {
  color: aqua;
  font-size: 14px;
  padding: 0px 10px 48px 0px;
}

.tanjiro__btn {
  display: none;
}

.nezuko {
  height: 540px;
}

.nezuko .wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 100px;
}

.nezuko__text {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(37, 37, 37, 0.7);
  border-radius: 10px;
}

.nezuko__heading {
  color: aqua;
  padding: 10px 10px 24px 0px;
}

.nezuko__subheading {
  color: aqua;
  padding: 10px 10px 48px 0px;
}

.nezuko__btn {
  display: none;
}

.zenitsu {
  height: 540px;
}

.zenitsu .wrapper {
  padding-top: 100px;
}

.zenitsu__text {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(37, 37, 37, 0.7);
  border-radius: 10px;
}

.zenitsu__heading {
  color: aqua;
  padding: 10px 10px 24px 0px;
}

.zenitsu__subheading {
  color: aqua;
  font-size: 14px;
  padding: 0px 10px 48px 0px;
}

.zenitsu__btn {
  display: none;
}

.inosuke {
  height: 540px;
}

.inosuke .wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 100px;
}

.inosuke__text {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(37, 37, 37, 0.7);
  border-radius: 10px;
}

.inosuke__heading {
  color: aqua;
  padding: 10px 10px 24px 0px;
}

.inosuke__subheading {
  color: aqua;
  padding: 10px 10px 48px 0px;
}

.inosuke__btn {
  display: none;
}

.footer {
  position: relative;
  width: 100%;
  z-index: 999;
  height: 40vh;
  overflow: hidden;
}

.brightness {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 40vh;
  background-color: gray;
  filter: brightness(20%);
  opacity: 70%;
}

.footer .wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.footer .nav__item {
  margin-bottom: 24px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", sans-serif;
}

.wrapper {
  max-width: 1240px;
  margin: 0 auto;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a, a:active {
  text-decoration: none;
  color: aqua;
}

a:hover {
  color: rgb(0, 180, 180);
}

ul {
  list-style-type: none;
}

.btn {
  width: 300px;
  height: 60px;
  background: #00b4b4;
  border: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 24px;
}

.header__btn {
  margin-top: 550px;
}

.btn:hover {
  background: rgb(0, 120, 120);
}