.tanjiro {
  height: 540px;
  background-image: url(/src/img/TanjiroKamado_.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.tanjiro .wrapper {
  padding-top: 100px;
}

.tanjiro__heading {
  color: aqua;
  padding-bottom: 24px;
}

.tanjiro__subheading {
  color: aqua;
  padding-bottom: 48px;
}