.tanjiro {
  height: 540px;
}

.tanjiro .wrapper {
  padding-top: 100px;
}

.tanjiro__text {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgba(37, 37, 37, 0.7);
  border-radius: 10px;
}

.tanjiro__heading {
  color: aqua;
  padding: 10px 10px 24px 0px;
}

.tanjiro__subheading {
  color: aqua;
  font-size: 14px;
  padding: 0px 10px 48px 0px;
}

.tanjiro__btn {
  display: none;
}